<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Commande Clients</h1>
    </div>
    <div class="col-md-4 p-0 text-right">
      <app-boutton-action
      [isImporterVisible]="false"

    (clickEvent)="nouvelleCommande()"
    ></app-boutton-action>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample" *ngFor="let cmd of listeCommandes">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
        <app-detail-cmd-clt-frs class="container"
        [CommandeClientDto]="cmd"
        >
        </app-detail-cmd-clt-frs>
      </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="card-body">
          <app-detail-cmd
          *ngFor="let ligne of mapLignesCommande.get(cmd.id)"
            [ligneCommande]="ligne"
          >
            
          </app-detail-cmd>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 text-left">
            <h5> {{mapLignesCommande.get(cmd.id).length}} lignes de commande</h5>
          </div>
          <div class="col-md-6 text-right">
            <h5>Totale Commande : {{ calculerTotalCommande(cmd.id) }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
